<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light topline"><span class="font-popular-medium"><a href="http://www.startribune.com/local/">Local</a></span></h5>
      <h1>How Minneapolis might reshape its school district</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/faiza-mahamud/381858611/" class="text-nowrap">Faiza Mahamud</a>,
        <a rel="author" href="http://www.startribune.com/maryjo-webster/303594441/" class="text-nowrap">MaryJo Webster</a>
        and
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/" class="text-nowrap">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <p></p>
      <time pubdate datetime="2002-02-07T16:00:00">February 7, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
      <p>Minneapolis Public Schools recently unveiled its final proposed plan, which called for sweeping changes that district leaders say will dismantle disparities and help close the achievement gap between white students and students of color.</p>
      
      <p>In September 2019, Ed Graff announced a new timeline for his restructuring plan. The district will continue with community engagement until April, when the school board is expected to take a vote. Structural changes would not happen until the 2021-22 school year, with some of the bigger changes taking longer to implement.</p>

      <p>The district has been operating under the current plan for more than six years and has since shrunk in size to 33,380.  Now, the district is facing a $19 million budget shortfall for the next school year thanks in large part to a loss of enrollment over the past year.</p>
      
      <p>There’s an increased urgency among district leaders to mitigate this problem and save a once coveted school system and the largest in the state from collapsing.</p>
  </section>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">How magnet schools might shift</h2>
      
      <p>The district currently has about 14 magnet schools and spends about $4.6 million transporting students to those schools, which are mostly situated in the southern part of the city. District data shows that the current structure has led to more segregated schools and a growing academic disparities. Meanwhile, schools in north and northeast Minneapolis have fallen victim to the district’s current choice policy, making those schools less attractive to its residents.</p>
  </section>


  <div class="slide">

        <div class="maplabel">Current alignment (Model 1)</div>
        <div class="map" id="mapper1"><div class="reset">Reset</div></div>
        <div class="geocoder" id="geocoder1"></div>


      <div class="legend">
          <div class="l"><span class="dot elementary"></span> Elementary Magnet</div>
          <div class="l"><span class="dot middle"></span> Middle Magnet</div>
          <div class="l"><span class="dot k8"></span> K-8 Magnet</div>
          <div class="l"><span class="dot other"></span> Non-Magnet</div>
      </div>

      <div class="adjacent">
        <div class="maplabel">Model 2</div>
        <div class="map" id="mapper2"><div class="reset">Reset</div></div>
        <div class="geocoder" id="geocoder2"></div>
     </div>

     <div class="adjacent">
        <div class="maplabel">Model 3</div>
        <div class="map" id="mapper3"><div class="reset">Reset</div></div>
        <div class="geocoder" id="geocoder3"></div>
     </div>

    <div class="adjacent">
        <div class="maplabel">Model 4</div>
      <div class="map" id="mapper4"><div class="reset">Reset</div></div>
      <div class="geocoder" id="geocoder4"></div>
    </div>

    <div class="adjacent">
        <div class="maplabel">Model 5</div>
      <div class="map" id="mapper5"><div class="reset">Reset</div></div>
      <div class="geocoder" id="geocoder5"></div>
    </div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">How other schools might change</h2>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>


  <div class="slide">
      <div class="dataframe"><iframe title="Minneapolis School Redistricting 2020" aria-label="Table" src="//datawrapper.dwcdn.net/WA1vY/" scrolling="no" frameborder="0" style="border: none;" width="100%" height="320"></iframe></div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">How school demographics might shift</h2>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>


  <div class="slide">
      <h4>Percentage of non-white students</h4>
      <div class="dataframe"><iframe title="Minneapolis School Redistricting 2020: Scenario 3 Table" aria-label="Table" src="//datawrapper.dwcdn.net/nhHb6/" scrolling="no" frameborder="0" style="border: none;" width="100%" height="719"></iframe></div>

      <h4>Percentage of students eligible for free/reduced lunch</h4>
      <div class="dataframe"><iframe title="Minneapolis School Redistricting 2020: Scenario 2 Table" aria-label="Table" src="//datawrapper.dwcdn.net/eWwdM/" scrolling="no" frameborder="0" style="border: none;" width="100%" height="747"></iframe></div>
  </div>

  <section class="container-lg">
    <p>Since about a dozen schools become magnets under most proposals, how their student demographics might change is unclear. Additionally, one school, Barton, sees the most significant boundary change between models two/four and models three/five.</p>
  </section>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Addressing school capacity problems</h2>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>


  <div class="slide">
      <div class="map" id="mapper1"><div class="reset">Reset</div></div>
      <div class="geocoder" id="geocoder1"></div>
  </div>



<section class="container-lg">
    <div class="article-author-contact">
    <div class="article-author-hcard">
        <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Faiza Mahamud </strong>is an education reporter covering Minneapolis Public Schools, the state's third-largest school district. Previously, she was a reporter and associate editor at Mshale, the largest African community newspaper in Minnesota. Since joining the Star Tribune, Mahamud has covered immigrant communities, city government and neighborhoods. </span></p><p></p>
        <p><a class="article-author-hcard__email" target="_blank" href="mailto:faiza.mahamud@startribune.com?subject=How Minneapolis might reshape its school district" data-linkname="faiza.mahamud@startribune.com data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">faiza.mahamud@startribune.com</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/Faiza_Mahamud" target="_blank" data-linkname="Faiza_Mahamud" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Faiza_Mahamud</a></p>
  </div>

      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>MaryJo Webster </strong>is the data editor for the Star Tribune. She teams up with reporters to analyze data for stories across a wide range of topics and beats.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:maryjo.webster@startribune.com?subject=How Minneapolis might reshape its school district" data-linkname="maryjo.webster@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">maryjo.webster@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-1789" data-linkname="612-673-1789" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-1789</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/MaryJoWebster" target="_blank" data-linkname="MaryJoWebster" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">MaryJoWebster</a></p>
  </div>

      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Minneapolis might reshape its school district" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>