<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
      <h5 class="font-popular-light topline"><span class="font-popular-medium"><a href="http://www.startribune.com/local/">Local</a></span></h5>
      <h1>How Minneapolis might reshape its school district</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/faiza-mahamud/381858611/" class="text-nowrap">Faiza Mahamud</a>,
        <a rel="author" href="http://www.startribune.com/maryjo-webster/303594441/" class="text-nowrap">MaryJo Webster</a>
        and
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/" class="text-nowrap">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <p></p>
      <time pubdate datetime="2002-02-07T16:00:00">February 7, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  
  <section class="container-lg">
      <p>Minneapolis Public School leaders recently unveiled a plan to restructure  the district’s schools — calling for sweeping changes they say will address race and class disparities and help close the achievement gap among student groups.</p>

      <p>The five proposed models employ different strategies, which all aim to stem the flow of kids out of the district, reduce race and class segregation, slash transportation costs and use those savings for classroom instruction.</p>
        
      <p>These strategies include cutting the number of magnet schools and locating them in the center of the city and, in some of the models, eliminating K-8 schools and using K-5 and 6-8 schools only. As a result, attendance boundary areas for community (non-magnet) schools would also shift.</p>
        
      <p>But many Minneapolis families are wary of Superintendent Ed Graff’s restructuring plan, noting that his proposed changes will cause major upheaval across the city, increase segregation in schools and cause further hemorrhaging of students. Others charge that the data the district used is misleading and does not take into account many factors.</p>
  </section>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Why now?</h2>
      
      <p>The district has been operating under the current plan for more than a decade and has since shrunk from 34,680 to 33,380 students. It also faces a $19 million budget shortfall for the next school year thanks in large part to continued declining enrollment. There’s an increased urgency among district leaders to mitigate this problem and rescue a school system once flush with students from further erosion. </p>
  </section>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">How magnet schools might shift</h2>
      
      <p>The district currently has about 14 magnet schools and spends about $4.6 million transporting students to those schools, which are mostly situated in the southern part of the city. District data shows that the current structure has led to more segregated schools and a growing student achievement gap. Meanwhile, schools in north and northeast Minneapolis have not benefited from the district’s current choice policy, making those schools less attractive to its residents. Models two and four, which are almost the same, focus on dual-language programs. These models recommend having centralized bilingual programs in three community schools — that are yet to be identified — in parts of the city with the largest Spanish-speaking populations. The difference between them is whether they are going to limit K-8 schools or not.</p>

      <p>Meanwhile, models three and five have an immersion focus. These models would eliminate Windom’s language immersion program, but would add a third K-5 Spanish immersion magnet at Green Central. The main difference between these models is whether or not they would have K-8 schools.</p>

      <p>Dowling, Windom and other magnets — Clara Barton Open School, Armatage Montessori and Anwatin Spanish Dual Immersion — would be recast as traditional community schools. The proposed models do not offer an environmental magnet focus, which means Dowling would also lose its environmental status. District leaders said schools that lose their magnet status could still apply for specialty school designation but the programs they want shouldn’t compete with offerings at magnet schools, noting that it would conflict with their goal of integrating magnet schools.
  </section>


  <div class="slide">

        <div class="maplabel">Current alignment (Model 1)</div>
        <div class="map" id="mapper1"><div class="reset">Reset</div></div>
        <div class="geocoder" id="geocoder1"></div>


      <div class="legend">
          <div class="l"><span class="dot elementary"></span> Elementary Magnet</div>
          <div class="l"><span class="dot middle"></span> Middle Magnet</div>
          <div class="l"><span class="dot k8"></span> K-8 Magnet</div>
          <div class="l"><span class="dot other"></span> Non-Magnet</div>
      </div>

      <div class="adjacent">
        <div class="maplabel">Model 2</div>
        <div class="map" id="mapper2"><div class="reset">Reset</div></div>
        <div class="geocoder" id="geocoder2"></div>
     </div>

     <div class="adjacent">
        <div class="maplabel">Model 3</div>
        <div class="map" id="mapper3"><div class="reset">Reset</div></div>
        <div class="geocoder" id="geocoder3"></div>
     </div>

    <div class="adjacent">
        <div class="maplabel">Model 4</div>
      <div class="map" id="mapper4"><div class="reset">Reset</div></div>
      <div class="geocoder" id="geocoder4"></div>
    </div>

    <div class="adjacent">
        <div class="maplabel">Model 5</div>
      <div class="map" id="mapper5"><div class="reset">Reset</div></div>
      <div class="geocoder" id="geocoder5"></div>
    </div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">How other schools might change</h2>
      
      <p>The plan would relocate magnet schools to the center of the city and attendance boundaries for community schools could be redrawn, reassigning nearly two-thirds of students to new schools. Meanwhile, elementary and middle school grade levels could also be reconfigured under most of the models and underenrolled schools deemed academically ineffective could be shuttered.</p>
  </section>

<!-- 
  <div class="slide">
      <div class="dataframe"><iframe title="Minneapolis School Redistricting 2020" aria-label="Table" src="//datawrapper.dwcdn.net/WA1vY/" scrolling="no" frameborder="0" style="border: none;" width="100%" height="320"></iframe></div>
  </div> -->

  <section class="container-lg">    
    <p>Moving students back into their community schools would save the district between $3 million to $5 million, money Minneapolis school leaders are eyeing for classroom instruction to help close gaps in student achievement. But a school community survey currently being conducted by the district could influence where those dollars should be prioritized. District leaders said they are not taking away choice. But families that choose a non-magnet school would be forced to provide their own transportation.</p>
</section>


  <div class="rule"></div>
  <section class="container-lg">  
      <h2 class="chartTitle">How school demographics might shift</h2>
      
      <p>Minneapolis Public Schools is highly segregated by race and income. Currently, there are about 20 “racially-isolated” schools in the district and most of them are located in north Minneapolis. Meaning these schools have more than 80% students who belong to one student group. District leaders said moving magnets into the center of the city would help reduce the segregation by more than half and provide socioeconomic diversity.</p>

      <p>Their average target for school integration is 65% students of color and 35% white students. Under the redesign, the magnet schools are expected to have no more than 70% students of color and low-income students. But the lack of affordable housing in the city, the fact that fewer white families are enrolling their children in the district, and more middle-income families of color are open-enrolling elsewhere could make it difficult for community schools to achieve their socioeconomic and racial integration goal, Moore said.</p>
  </section>


  <div class="slide">
      <h4>Percentage of non-white students</h4>
      <div class="dataframe"><iframe title="Minneapolis School Redistricting 2020: Scenario 3 Table" aria-label="Table" src="//datawrapper.dwcdn.net/nhHb6/" scrolling="no" frameborder="0" style="border: none;" width="100%" height="719"></iframe></div> 
  </div>


  <section class="container-lg">
    <p>About 90% of the district’s black students qualify for free or reduced-price school lunch. District leaders note reducing the number of racially identifiable schools would also decrease the number of high poverty schools.</p>

    <p>“This reduction, along with our teacher equity plan, focus on K-2 literacy, and equity, restorative practices training will improve these schools significantly,” said Eric Moore, the district’s chief of accountability, innovation and research.</p>
  </section>


  <div class="slide">
      <h4>Percentage of students eligible for free/reduced lunch</h4>
      <div class="dataframe"><iframe title="Minneapolis School Redistricting 2020: Scenario 2 Table" aria-label="Table" src="//datawrapper.dwcdn.net/eWwdM/" scrolling="no" frameborder="0" style="border: none;" width="100%" height="747"></iframe></div>
   </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">Addressing school capacity problems</h2>
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>


  <div class="slide">

        <div id="mainlegend2">Percentage of capacity used</div>
        <div class="legend2"><div class="gray1"></div><div class="blue1"></div><div class="blue2"></div><div class="blue4"></div><div class="blue5"></div><div class="blue6"></div></div>
        <div class="legend3"><div class="white">30%</div><div class="white">50%</div><div class="white">70%</div><div class="white">90%</div><div class="white">100%</div><div class="white">110%</div></div>

      <div class="map" id="mapper6"><div class="reset">Reset</div></div>
      <div class="geocoder" id="geocoder6"></div>
  </div>


  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">What's next</h2>
      
      <p>In September 2019, Graff announced a new timeline for his restructuring plan. Graff and his team are expected to recommend one of the models to the school board on March 24. At this meeting the district will present details about costs of reconfiguring schools and other information, including how to enroll in the magnets. In the meantime, district leaders are gathering feedback. The school board could make suggestions before it votes on the final plan in April. After the vote, structural changes would not happen until the 2021-22 school year, with some of the bigger changes taking longer to implement.</p>
  </section>



<section class="container-lg">
    <div class="article-author-contact">
    <div class="article-author-hcard">
        <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Faiza Mahamud </strong>is an education reporter covering Minneapolis Public Schools, the state's third-largest school district. Previously, she was a reporter and associate editor at Mshale, the largest African community newspaper in Minnesota. Since joining the Star Tribune, Mahamud has covered immigrant communities, city government and neighborhoods. </span></p><p></p>
        <p><a class="article-author-hcard__email" target="_blank" href="mailto:faiza.mahamud@startribune.com?subject=How Minneapolis might reshape its school district" data-linkname="faiza.mahamud@startribune.com data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">faiza.mahamud@startribune.com</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/Faiza_Mahamud" target="_blank" data-linkname="Faiza_Mahamud" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Faiza_Mahamud</a></p>
  </div>

      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>MaryJo Webster </strong>is the data editor for the Star Tribune. She teams up with reporters to analyze data for stories across a wide range of topics and beats.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:maryjo.webster@startribune.com?subject=How Minneapolis might reshape its school district" data-linkname="maryjo.webster@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">maryjo.webster@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-1789" data-linkname="612-673-1789" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-1789</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/MaryJoWebster" target="_blank" data-linkname="MaryJoWebster" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">MaryJoWebster</a></p>
  </div>

      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Minneapolis might reshape its school district" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>